<ion-header>
  <ion-navbar>
    <ion-title>Emprestar</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label color="primary" fixed>Objeto</ion-label>
      <ion-input [(ngModel)]="item.nome"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" fixed>Descrição</ion-label>
      <ion-input [(ngModel)]="item.descricao"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" fixed>Foto
        <!-- <ion-icon name="checkmark" [color]="red" ></ion-icon> -->
      </ion-label>
      <button ion-button (click)="takeItemPicture()" *ngIf="fotoTirada == false" item-end>Tirar</button>
      <button ion-button (click)="takeItemPicture()" *ngIf="fotoTirada == true" item-end>Substituir</button>
    </ion-item>

    <ion-item>
      <ion-label color="primary" fixed>Custo/hora</ion-label>
      <!-- TODO: FORMAT MONEY INPUT -->
      <ion-input [(ngModel)]="item.preco"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label color="primary" fixed>Hora inicio:</ion-label>
        <ion-datetime displayFormat="HH:mm" pickerFormat="HH mm" [(ngModel)]="item.tempoInicio"></ion-datetime>
    </ion-item>

    <ion-item>
        <ion-label color="primary" fixed>Hora fim:</ion-label>
        <ion-datetime displayFormat="HH:mm" pickerFormat="HH mm" [(ngModel)]="item.tempoFim"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label color="primary" fixed>Multa </ion-label>
      <ion-input [(ngModel)]="item.multa"></ion-input>
    </ion-item>

  </ion-list>

  <button ion-button (click)="inserir()">Salvar</button>

</ion-content>