<ion-header>
  <ion-navbar>
    <ion-title>Pegar Emprestado</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
 
  <ion-list> 
    <ion-card class="thing-card" *ngFor="let item of resultadoBusca">
      <ion-title>
        <h1>{{item.nome}}</h1>
        <h3>{{item.desc}}</h3>
        <h3>
          <ion-icon name='clock'></ion-icon>
          {{item.tempoInicio}} até {{item.tempoFim}}
          <ion-icon name='cash'></ion-icon>
          <!-- TODO format preco -->
          R${{item.preco}}/min
        </h3>
      </ion-title>
      <div style="position: relative">
        <!-- <img src="{{item.img}}"> -->
        <img [src]="'data:image/jpeg;base64,'+item.imagem">
        
      </div>

      <!-- <ion-item (click)="pessoaClick(item.dono)">
          <ion-icon color="subtle" large item-start name='person'></ion-icon>
          <h2>{{item.dono.nome}}</h2>
          <p *ngIf="item.dono.reputacao != -1">
            <ion-icon name='star' *ngIf="item.dono.reputacao >= 1"></ion-icon>
            <ion-icon name='star' *ngIf="item.dono.reputacao >= 2"></ion-icon>
            <ion-icon name='star' *ngIf="item.dono.reputacao >= 3"></ion-icon>
            <ion-icon name='star' *ngIf="item.dono.reputacao >= 4"></ion-icon>
            <ion-icon name='star' *ngIf="item.dono.reputacao >= 5"></ion-icon>
            <ion-icon name='star-half' *ngIf="(item.dono.reputacao % 10) > 4"></ion-icon>

          </p>
          <p *ngIf="item.dono.reputacao == -1">
            sem avaliações
          </p>
        </ion-item> -->

      <!-- <ion-item (click)="mapClick(item.dono.local)">
        <ion-icon color="subtle" large item-start name='map'></ion-icon>
        <h2>Local:</h2>
        <p>Lat: {{item.dono.local.lat}}</p>
        <p>Lng: {{item.dono.local.lng}}</p>

        todo: implementar a distancia atual ate o local

        <span ion-text item-end color="secondary" class="item-bold">1 min</span>
        <span ion-text item-end color="subtle">(10 m)</span>
      </ion-item> -->

      <ion-item actions>
        <button ion-button block color="primary">
          Pegar
        </button>
      </ion-item>
    </ion-card>

  </ion-list>

</ion-content>
